/* css link test */
* {
    background-color: rgb(255, 255, 255);
}

#search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    text-align: center;
}

#search-input {
    padding: 10px;
    font-size: 16px;
}

#search-button {
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 10px; 
}

/* css for image container in savedTrips.html */
.image-container {
    position: relative;
    padding-top: 35%; /* 16:9 Aspect Ratio (9 / 16 * 100) */
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.attractionImage {
    display: flex;
    margin: 5px auto;
    border-radius: 15px;
    max-height: 30vh;

}
.carousel-caption {
    color: black;
    border: 2px solid black; 
    padding: 10px;
}


.current-weather {
    display: flex;
    justify-content: center;
    align-items: center;
}

.forecast-div {
    display: flex;
    justify-content: space-around;
    align-items: space-around;
}

#attractionsTitle {
    display: flex;
    justify-content: space-around;
    align-items: space-around;
}
