/* css link test */
* {
    background-color: rgb(255, 255, 255);
}

#search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    text-align: center;
}

#search-input {
    padding: 10px;
    font-size: 16px;
}

#search-button {
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 10px; 
}

.carousel-caption {
    color: black;
}
